@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body{
        font-family: "Lexend", sans-serif;
        font-weight: 400;
        font-style: normal;
}

.cabecalho {
    background-color: #171614;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    font-size: 150%;
}

.logo{
    width: 30%;
}

.cabecalho-codigoqr{
    width: 100%
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 20px;
}

.talentos1{
    background-color: #CDBCAB;
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    font-size: 20px;
}

.fototodos{
    width: 25%;
}

.talentos-conteudo{
    width: 35%;
}

.talentos-conteudo1{
    width: 35%;
}

.paragrafo1{
    color: black;
    background-color: #C9C9C9;
    border-radius: 10px;
}

.paragrafo2{
    color: black;
    background-color: #d4d4cc;
    border-radius: 10px;
}

.titulo1{
    color: black;
    background-color: #C9C9C9;
    border-radius: 10px;
    font-size: 150%;
}

.titulo2{
    color: black;
    background-color: #C9C9C9;
    border-radius: 10px;
    font-size: 200%;
    display: flex;
    justify-content: center;
}

.titulo3{
    color: rgb(255, 255, 255);
    background-color: #790028;
    border-radius: 10px;
    font-size: 200%;
    display: flex;
    justify-content: center;
}

.talentos2{
    background-color: #CDBCAB;
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    font-size: 20px;
}

.talentos3{
    background-color: #CDBCAB;
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    font-size: 20px;
}

.frame{
    width: 15%;
}

.naosei{
    width: 25%;
}

.talentos3{
    background-color: #CDBCAB;
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    font-size: 20px;
}

.desvalorização{
    width: 25%;
}

.colunas{
    padding: 80px 0;
    display: grid;
    display: flex;
    grid-template-columns: 33% 33% 33%;
    background-color: #790028;
}
  
.coluna{
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
    border-radius: 20px;
}

.coluna-entrevista{
    display: flex;
}

.iconeimagem{
    width: 25%;
}
